<article class="container">
    <figure class="cover">
        <img src="https://img.freepik.com/free-vector/illustration-gallery-icon_53876-27002.jpg" alt="">
    </figure>

    <div class="content">
        <span class="published">Jan 14, 2024</span>
        <h2 class="title">
            Não estude React em 2024
        </h2>
        <p class="description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos nobis, sint cum qui dignissimos eius velit ullam reiciendis quas modi. Quidem qui in dolor sapiente quasi quaerat molestiae id iusto.
        </p>
    </div>
</article>
