<app-header></app-header>
<main class="container">
    <app-banner></app-banner>
    <div class="content">
        <aside class="left">
            <app-big-card
                coverUrl="https://img.freepik.com/free-vector/illustration-gallery-icon_53876-27002.jpg"
                createAt="Today"
                title="Não estude Algular em 2024"
                description="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos nobis, sint cum qui dignissimos eius velit ullam reiciendis quas modi. Quidem qui in dolor sapiente quasi quaerat molestiae id iusto."
            ></app-big-card>
        </aside> 
        <aside class="right">
            <app-small-card
                coverUrl="https://img.freepik.com/free-vector/illustration-gallery-icon_53876-27002.jpg"
                createdAt="Jan 15, 2024"
                title="Ouça e execute"
            ></app-small-card>
            <app-small-card
                coverUrl="https://img.freepik.com/free-vector/illustration-gallery-icon_53876-27002.jpg"
                createdAt="Jan 15, 2024"
                title="Ouça e execute"
            ></app-small-card>
            <app-small-card
                coverUrl="https://img.freepik.com/free-vector/illustration-gallery-icon_53876-27002.jpg"
                createdAt="Jan 15, 2024"
                title="Ouça e execute"
            ></app-small-card>
        </aside>
    </div>
</main>